.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: white;
}
.navbar-brand {
  color: white !important;
}
.navbar {
  background-color: rgb(119, 29, 30) !important;
}
